body {
  background-color: rgb(224, 224, 224);
}
* {
  /* border: 2px solid green; */
}
.top-sliding-container {
  position: relative;
  /* width: 80%; */
  margin: auto;
  margin-top: 12%;
  /* border: 2px solid red; */
  padding: 1%;
}
.sliding-card-container {
  overflow: hidden;
  position: relative;
  width: 768px;
  margin: auto;
  /* border: 2px solid green; */
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.sliding-card {
  display: flex;
  transition: transform 0.8s ease;
  z-index: 0;
  /* border: 2px solid brown; */
}

.card {
  flex: 0 0 240px;
  /* HERE 200PX IS THE FLEX BASIS PROPERTY (WIDTH) OF THE ELEMENT */
  height: 320px;
  padding: 0px;
  margin: 0px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  border-radius: 18px;
  position: relative;
  background-color: white;
  z-index: -2;
}
.card div {
}
.card-portion-angle {
  width: 10%;
  height: 10%;
  background-color: #045e5e;
  position: absolute;
  top: 45%;
  right: 0%;
  z-index: -1;
}
.card-portion-01 {
  border-bottom-left-radius: 18px;
  height: 45%;
  background-color: #045e5e;
  /* background-color: #4367d3; */
  z-index: 2;
}
.card-portion-01-dp {
  height: 104px;
  width: 104px;
  border-radius: 50%;
  margin: 12px auto;
  border: 3px solid white;
  /* border: 2px solid #034b4b; */
}
.card-portion-02 {
  background-color: white;
  border-top-right-radius: 18px;
  height: 55%;
  z-index: 2;
}
.card-portion-02 div {
  font-family: "Roboto";
  font-weight: 700;
  color: rgb(43, 43, 43);
  height: 15%;
  padding-top: 3%;
}
.card-portion-02 p {
  padding: 2px 8px;
  font-size: 14px;
  height: 45%;
  margin: 0%;
  font-family: "Roboto";
  font-weight: 500;
  color: rgb(95, 95, 95);
  text-overflow: ellipsis;
}
.card-portion-02 button {
  background-color: #045e5e;
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  height: 18%;
  width: 80px;
  margin-top: 10px;
  border-radius: 4px;
}
.controls {
  z-index: 1;
}

.btn01 {
  top: 44%;
  left: 5%;
  padding: 5px;
  position: absolute;
  cursor: pointer;
  background: transparent;
  border: none;
}
.btn02 {
  top: 44%;
  right: 5%;
  padding: 5px;
  position: absolute;
  cursor: pointer;
  background: transparent;
  border: none;
  /* border: 1px solid red; */
}
